*{
    margin: 0;
    padding: 0;
}

.hero{
    background-color: #030736;
    color: #F9F3DE;
    padding: 30px;
    height: 50px;       
}

.hero-title {
    margin: auto;
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
}

.navbar {
    padding: 5px 30px;
    background-color: #F8DF77;
    padding: 10px;
}

.navbar ul li {
    display: inline;
    padding: 10px;
}

.navbar-itens {
    list-style-type: none;
}

.navbar-itens a {
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    font-family: 'Time New Roman', serif;
    text-transform: uppercase;
}

.article-section{
    margin: 30px;    
}

.article-section h2 {
    margin-bottom: 10px;
}

.article-section p{
    margin-top: 15px;
    margin-bottom: 15px;
}

.article-section {
    margin-left: 20%;
    margin-right: 20%;
}

.img-manti {
    display: inline;
    width: 300px;
    position: relative;
}

.img-manti img {
    margin-bottom: 10px;
    max-height: 550px;
    max-width: 800px;
    object-fit: cover;
    width: 100%
}

img {
    width: 100%;
}

.footer p {
    background-color: #030736;
    color: #F9F3DE;
    text-align: center;
    padding: 15px;
}


.section-four li {
    margin-top: 10px;
    margin-left: 25px;
    
}

.video-container {
    margin-top: 15px;
    margin-bottom: 15px;
}